# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment configurations and secrets
.env
*.json
!project-8f12ea6a-1eb5-4330-a3b-8e89716fa01a.json.example

# Local SQLite databases
db/*.db

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ADK internal folders
.adk/
